body {
    padding : 10px ;

}

#exTab1 .tab-content {
    padding : 5px 15px;
}

#exTab2 h3 {
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    padding : 5px 15px;
}
